[bss_task_deck] {
	flex-wrap: nowrap;
}

[bss_task_deck_block],
[bss_task_deck_new_block] {
	background: white;
	width: 25rem;
	border: 2px solid gray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	/* gap: 0.5rem; */
}

[bss_task_deck_block_content] {
	gap: 0.5rem;
}

[bss_task_deck_task] {
	background: lavenderblush;
	border: 1px solid gray;
	border-radius: 0.5rem;
}

[bss_task_deck_task]+[bss_task_deck_task] {
	margin-top: 0.5rem;
}

[bss_task_deck_block_status],
[bss_task_deck_task_task] {
	flex: 1;
}

[bss_task_deck_new_block] {
	min-width: 12rem !important;
	width: 12rem;
	max-width: 12rem;
}