[bss_task_deck_block] {
	border: 2px solid gray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	/* gap: 0.5rem; */
}

[bss_task_deck_block_content] {
	gap: 0.5rem;
}

[bss_task_deck_task] {
	border: 2px solid gray;
	border-radius: 0.5rem;
}

[bss_task_deck_task]+[bss_task_deck_task] {
	margin-top: 0.5rem;
}