[bss_task_deck_block] {
	/* background: lightgray; */
	border: 2px solid gray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	gap: 0.5rem;
}

[bss_task_deck_block_content] {
	gap: 0.5rem;
}

[bss_task_deck_block_new_task] {
	/* background-color: white; */
}

[bss_task_deck_task] {
	/* background: white; */
	border: 2px solid gray;
	border-radius: 0.5rem;
}

[bss_task_deck_task] + [bss_task_deck_task] {
	margin-top: 0.5rem;
}

